html, body {
 height: 100%;
}

#top {
 margin-top:-1em;
 overflow: visible;
}

#title {
 width:70%;
 height:50px;
 margin: 0;
 margin-left:auto;
 margin-right: auto;
 overflow: hidden;
 text-overflow:clip;
 position: absolute;
 left: 16%;
}

#position {
 margin-left: 142px;
 padding-left: 10px;
 margin-top: 119px;
 margin-bottom: 0px;
}

#secondmenu li {
 width: 75px;
}

.pagepreview {
 width: 84%;
}

div.tcenter {
 width: 99.5%;
}

input {
 width: auto;
}

.articles-block{
 margin-right: 0;
}

table.dates, table.articles, table.page_commits, table.tablestyle {
 width: 99%;
}

a.button {
 padding-left: 50px;
 padding-right: 50px;
}

input.checkbox {
 border:none;
}

input.article_input {
 width:99.5%;
}

table.input_table {
 width: 99%;
}

input.button {
 border-width:1px;
 border-style: solid;
 line-height: normal;
}

textarea.edit {
 width: 99%;
}

.structure_row {
 border-bottom:1px dashed black;
}

.full_width {
 width: 93%;
}

#menupart {
 left: 0;
 top: 138px;
}