html, body {
 margin: 0;
 padding: 0;
 font-family: arial, verdana, helvetica, sans-serif;
}

a, a:visited {
 color: #000000;
 text-decoration: none;
 font-weight: bold;
}

h1 {
 text-align: center;
 padding: 0;
 margin: 0;
}

h2 {
 padding-left: 1em;
 border-bottom: 1px solid black;

}
h3 {
 padding-left: 1.5em;
}

h4 {
 padding-left: 2em;
}
img {
 border: 0;
}

hr {
 background-color: #000000;
 border: 0px solid #000000;
 height: 1px;
 margin-top: 0px; 
}

input, select, textarea, fieldset {
 border: 1px solid #000000;
}

legend {
 font-size: 1.2em;
}

thead td {
 font-weight: bold;
}

#title {
 padding: 25px;
 padding-top: 42px;
 padding-bottom: 8px;
 height: 35px;
 color: #FFFFFF;
 margin-bottom: 35px;
}

#top {
 background-color: #0000FF;
 min-height: 140px;
 height: 140px;
 border-bottom: 1px solid #000000;
}

#menupart {
 float: left;
 width: 140px;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 border-bottom: 1px solid #000000;
 margin-top: -1px;
}

#text {
 padding: 5px;
 margin: 0 0 0 142px;
 text-align: justify;
}

#logo {
 float: left;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 width:140px;
}

#secondmenu {
 font-size: 0.9em;
 position: absolute;
 top: 0;
 left: 0;
 list-style-type: none;
 white-space: nowarp;
 background-color: #000000;
 margin: 0;
 padding: 0;
}

#secondmenu a, #secondmenu a:visited{
 color: red; 
 font-weight: normal;
}

#secondmenu a:hover{
 border-bottom: 1px dashed #FF0000;
}

#secondmenu li {
 display: block;
 margin: 0;
 border-right: 1px solid #EBEBEB;
 border-left: none;
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;

 float: left;
 background-color: #000000;
 padding: 1px;
 padding-left: 4px;
 padding-right: 4px;
 padding-bottom: 2px;
 width: 75px;
 height: 18px;
 text-align: center;
 vertical-align: middle;
 border-collapse: collapse;
 white-space: nowarp;
}

#menu {
 margin: 0;
 padding: 0;
}

#menu li {
 list-style: none;
 padding: 5px;
 margin-bottom: 5px;
 background: #FF0000;
 border-bottom: 1px solid #000000;
 border-top: 1px solid #000000;
 white-space: nowrap;
 width: 130px;
}

#menu a:hover {
 border-bottom: 1px dashed black;
}

#footerimage {
  margin-left: 13px;
}

#position {
 display: block;
 background-color: #FFFFFF;
 padding: 0;
 padding-left: 0.5em;
 margin: 0;
 margin-top:-1px;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 height: 20px;
 white-space:nowrap;
 overflow: hidden;
}

#inlinemenu {
 float: left;
 width: 200px;
 padding-left: 12px;
}

#inlinemenuimage {
 width: 200px;
 margin-bottom: 6px;
 margin-left: -12px;
}

span.info, span.error{
 font-size: 0.75em;
 width: 20em;
 display: block;
 color: #000000;
 font-style: italic;
 text-indent: 1em;
 text-align: justify;
 margin-left:1.5em;
 border: 1px dashed #000000;
 padding: 0.3em;
}

span.error {
 color: red;
 font-style: none;
 border: 1px dashed #FF0000;
 font-weight: bold;
 margin-bottom: 0.4em;
}

a.button , input.button, button{
 color: #000000:
 text-decoration: none;
 font-weight: bold;
 border: 1px solid #000000;
 background-color: #FF0000;
 font-size: 0.8em;
 padding: 1px;
 padding-left: 7px;
 padding-right: 7px;
 white-space: pre;
 cursor: pointer;
 text-align: center;
 word-spacing: normal;
 letter-spacing: normal;
 margin: 1px;
 height: 22px;
 line-height:2em;
}

a.button {
 height: 16px;
 padding-top: 4px;
 padding-bottom:0px;

}
.sitepreview, #previewiframe { /*FIXME: make only one classss*/
 border: 1px dashed #000000;
 width: 100%;
 height: 310px;
}

textarea.edit {
 width: 100%;
 height: 17em;
 font-family: arial, verdana, helvetica, sans-serif;
}

.imageblock, .gallery_image {
 width: 120px;
 height: 130px;
 margin: 5px;
 text-align: center;
 float: left;
}

.imagesblock {
 overflow: auto;
 display: table-cell;
}

.topdesc {
 vertical-align: top;
}

.article, .news {
 width: 99%;
 border: 1px dashed #C0C0C0;
 margin: 4px;
 padding: 5px;
 min-heigth: 1200px;
 position: relative;
 clear: both;
 text-align: left;
}

.articles-block {
 float: right;
 width: 47%;
 margin-right: 20px;
}

.news-block {
 float: left;
 width: 47%;
}

.article-date, .news-date {
 font-weight: normal;
 margin-left: 0.7em;
 font-size:0.8em;
 float: right;
}

.article-title, .news-title {
 display: block;
 font-weight: bold;
 border-bottom: 1px dashed #C0C0C0;
 margin-left: -5px;
 padding-left: 8px;
}

.article_image{
 margin : 2px;
 margin-left: 0;
 float: left;
}

.news-author, .article-author {
 display:block;
 font-size: 0.7em;
 font-weight: normal;
 text-align: right;
}

table.dates, table.articles ,table.page_commits{
 width: 100%;
}

.dates thead td, .articles thead td, .page_commits thead td{
 border: none;
 text-align: center;
}

.dates td, .articles td,.page_commits td {
 border-bottom: 1px dashed gray;
 vertical-align: top;
}

.pagestructure_sendbutton {
 list-style: none;
}

.article_input {
 width: 100%;
}

table.input_table {
 width: 100%;
}

.strike {
text-decoration: line-through;
}

.code {
margin-left:2em;
margin-right:3em;
border:1px dashed #000000;
}

td.articles {
 width: 50%;
 padding-right: 5px;
}

td.article_image {
text-align: center;
float: none;
}

table.text_table {
 border-spacing: 0px;
 border-collapse: collapse;
}

table.text_table td, table.text_table th{
 border: 1px solid #000000;
 padding: 0.1em;
}

table.text_table th {
 background-color: #9B9FBF;
}

.page_lang {
 position: absolute;
 right: 15em;
}

.page_actions {
 width: 12em;
 position: absolute;
 right: 1em;
}
img.img_img, img.img_left, img.img_center, img.img_right{
 padding: 1ex;
}
img.img_left {
 float: left;
}

img.img_right {
 float: right;
}

img.img_center {
 display: block;
 margin: auto;
}

