body {
 margin: 0;
 padding: 0;
 font-family: arial, verdana, helvetica, sans-serif;
 font-size: 62.5%;
 background-color: #FFFFFF;
 color: #000000;
}

* {
 margin: 0;
 padding: 0;
 font-size: 1em;
 font-weight: normal;
}

strong {
 font-weight: bold;
}

li {
 margin-left: 1em;
}

h1, h2, h3, h4, h5 {
 font-weight: bold;
}

a, a:visited {
 color: #000000;
 text-decoration: none;
 font-weight: bold;
}

h1 {
 font-size: 2em;
 text-align: center;
 padding: 0;
 margin: 0;
}

h2 {
 font-size: 1.5em;
 border-bottom: 1px solid black;
 margin-bottom: 1em;
 margin-top: 0.5em;
}

h3 {
 font-size: 1.17em;
 padding-left: 1.5em;
 margin-bottom: 1em;
 margin-top: 0.5em;
}


h4 {
 margin-top: 0.5em;
 padding-left: 2em;
 margin-bottom: 1em;
}
img {
 border: 0;
}

hr {
 background-color: #000000;
 border: 0;
 height: 0.04em;
 margin-top: 0;
 margin-bottom: 1em; 
}

input, select, textarea, fieldset {
 border: 1px solid #000000;
}

input, select, textarea {
 width: 15em;
 font-family: arial, verdana, helvetica, sans-serif;
}

input[type="checkbox"], input[type="radio"], input[type="button"], input[type="submit"], input[type="reset"],input[type="file"] {
 width: auto;
}

fieldset {
 margin:0.1em;
 padding: 1em;

}

fieldset * {
 clear: left;
}

legend {
 font-size: 1.2em;
 color: #000000;
}

thead td {
 font-weight: bold;
}

table {
 margin: 1em;
}

#date_day, #date_month, #date_year, #date_hour, #date_minute {
 width : auto;
}

#title {
 padding: 25px;
 height: 35px;
 color: #FFFFFF;
 margin-bottom: 35px;
}

#top {
 background-color: #0000FF;
 min-height: 140px;
 height: 140px;
 border-bottom: 1px solid #000000;
 font-size: 1.6em;
}

#menupart {
 font-size: 1.6em;
 float: left;
 width: 140px;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 border-bottom: 1px solid #000000;
 margin-top: -1px;
}

#text {
 font-size: 1.6em;
 padding: 0.5em;
 margin: 0 0 0 9em;
 text-align: left;
 line-height: 1.4em;
}

#logo {
 float: left;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 width:140px;
}

#secondmenu {
 font-size: 0.9em;
 position: absolute;
 top: 0;
 left: 0;
 list-style-type: none;
 white-space: nowarp;
 background-color: #000000;
 margin: 0;
 padding: 0;
}

#secondmenu a, #secondmenu a:visited{
 color: red; 
 font-weight: normal;
}

#secondmenu a:hover{
 border-bottom: 1px dashed #FF0000;
}

p {
 margin-bottom: 1em;
}

#secondmenu li {
 display: block;
 margin: 0;
 border-right: 1px solid #EBEBEB;
 border-left: none;
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 float: left;
 background-color: #000000;
 padding: 1px;
 padding-left: 4px;
 padding-right: 4px;
 padding-bottom: 2px;
 width: 75px;
 height: 18px;
 text-align: center;
 vertical-align: middle;
 border-collapse: collapse;
 white-space: nowarp;
}

#menu {
 margin: 0;
 padding: 0;
}

#menu li {
 list-style: none;
 padding: 5px;
 margin-bottom: 5px;
 background: #FF0000;
 border-bottom: 1px solid #000000;
 border-top: 1px solid #000000;
 white-space: nowrap;
 width: 130px;
 margin-left: 0;
}

#menu li.actual {
 background: #FAAB00;
}
#menu li.actual a {
 
 border-bottom: 1px dashed black;
}

#menu a:hover {
 border-bottom: 1px dashed black;
}

#footerimage {
  margin-left: 13px;
}

#position {
 display: block;
 background-color: #FFFFFF;
 padding: 0;
 padding-left: 0.5em;
 margin: 0;
 margin-top:-1px;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 height: 20px;
 white-space:nowrap;
 overflow: hidden;
}

#inlinemenu {
 font-size: 1.6em;
 float: left;
 width: 200px;
}

#inlinemenu  div {
 margin-left: 1em;
}

span.info, span.error{
 line-height: 1.3em;
 font-size: 0.75em;
 width: 20em;
 display: block;
 color: #000000;
 font-style: italic;
 text-indent: 1em;
 text-align: justify;
 margin-left:1.5em;
 border: 1px dashed #000000;
 padding: 0.3em;
}

span.error {
 color: red;
 font-style: none;
 border: 1px dashed #FF0000;
 font-weight: bold;
 margin-bottom: 0.4em;
}

a.button , input.button, button{
 color: #000000;
 text-decoration: none;
 font-weight: bold;
 border: 1px solid #000000;
 background-color: #FF0000;
 font-size: 0.8em;
 padding: 1px;
 padding-left: 7px;
 padding-right: 7px;
 white-space: pre;
 cursor: pointer;
 text-align: center;
 word-spacing: normal;
 letter-spacing: normal;
 margin: 1px;
 height: 22px;
 line-height:2em;
}

a.button {
 height: 1em;
 padding-top: 4px;
 padding-bottom:0px;

}
.sitepreview, #previewiframe { /*FIXME: make only one class*/
 border: 1px dashed #000000;
 width: 100%;
 height: 310px;
}

textarea.edit {
 width: 100%;
 height: 17em;
 font-family: arial, verdana, helvetica, sans-serif;
}

.imageblock, .gallery_image {
 width: 120px;
 height: 130px;
 margin: 5px;
 text-align: center;
 float: left;
}

.imagesblock {
 overflow: auto;
 display: table-cell;
}

.topdesc {
 vertical-align: top;
}

.article, .news {
 width: 99%;
 border: 1px dashed #C0C0C0;
 margin: 4px;
 padding: 5px;
 min-heigth: 1200px;
 position: relative;
 clear: both;
 text-align: left;
}

.articles-block {
 float: right;
 width: 47%;
 margin-right: 20px;
}

.news-block {
 float: left;
 width: 47%;
}

.article-date, .news-date {
 font-weight: normal;
 margin-left: 0.7em;
 font-size:0.8em;
 float: right;
}

.article-title, .news-title {
 display: block;
 font-weight: bold;
 border-bottom: 1px dashed #C0C0C0;
 margin-left: -5px;
 padding-left: 8px;
}

.article_image{
 margin : 2px;
 margin-left: 0;
 float: left;
}

.news-author, .article-author {
 display:block;
 font-size: 0.7em;
 font-weight: normal;
 text-align: right;
}

table.dates, table.articles ,table.page_commits, table.tablestyle{
 width: 97%;
}

.dates thead td, .articles thead td, .page_commits thead td, .tablestyle thead td{
 border: none;
 text-align: center;
}

.dates td, .articles td,.page_commits td, .tablestyle td {
 border-bottom: 1px dashed gray;
 vertical-align: top;
}

.pagestructure_sendbutton {
 list-style: none;
}

.article_input {
 width: 100%;
}

table.input_table {
 width: 100%;
}

.strike {
 text-decoration: line-through;
}

.code {
 margin-left:2em;
 margin-right:3em;
 border:1px dashed #000000;
}

td.articles {
 width: 50%;
 padding-right: 5px;
}

td.article_image {
text-align: center;
float: none;
}

table.text_table {
 border-spacing: 0px;
 border-collapse: collapse;
}

table.text_table td, table.text_table th{
 border: 1px solid #000000;
 padding: 0.1em;
}

table.text_table th {
 background-color: #9B9FBF;
 font-weight: bold;
}

.margin_center {
 margin-left:auto;
 margin-right: auto;
}

.full_width {
 width: 97%;
}

.page_lang {
 position: absolute;
 right: 15em;
}

.page_actions {
 width: 12em;
 position: absolute;
 right: 0.3%;
}

.structure_row {
 width:98%;
 display:block;
}

.structure_row:hover {
 background-color: #87C6E9;
}
div.thumb {
 margin-bottom: .5em;
 border: none;
 width: auto;
}

div.tcenter {

 width: 100%;
 text-align: center;
}

div.tleft {
 float: left;
 margin-right: 1ex;
 margin-bottom: 1ex;
 margin-top: 0;
}

div.tright {
 float: right;
 clear: right;
 margin-left: 1ex;
 margin-bottom: 1ex;
 margin-top: 0;
}

div.tcenter * {
 margin-left: auto;
 margin-right: auto;
}

div.thumb div, #inlinemenu div.thumb {
 border: 1px solid #000000;
 padding: 3px !important;
 background-color: #9B9FBF;
 font-size: 94%;
 text-align: center;
 overflow: hidden;
}

div.thumb div div.description, #inlinemenu div.thumb div.description {
 border: none !important;
 text-align: left;
 line-height: 1.4em;
 padding: .3em 0 .1em 0;
 margin-left: auto;
}

div.thumb div img, #inlinemenu div.thumb img{
 border: 1px solid #000000;
}

div.thumb div.magnify a{
 cursor: pointer;
 margin: 0;
 padding: 0;
}

div.thumb div.magnify a img {
 border: none !important;
}

div.thumb div.magnify {
 margin: -3px;
 height: 16px;
 padding: 0;
 border: none;
 float: right;
 width: 16px;
}

div.tbox div.magnify{
 float: right;
 margin-right: 0;
}

#inlinemenu div.thumb {
 margin: 3px !important;
 width: 202px;
}

div.left_thumbbox div, div.center_thumbbox div, div.right_thumbbox div, div.normal_thumbbox div{
 padding-left: 1ex;
 font-size: 0.7em;
}
div.left_thumbbox, div.center_thumbbox, div.right_thumbbox, div.normal_thumbbox  {
 text-align: left;
 padding: 0.5ex;
 border: 1px solid black;
 background-color: #9B9FBF;
}
div.center_thumbbox{
 width: auto;
}

img.img_normal, img.img_left, img.img_center, img.img_right, div.left_thumbbox, div.center_thumbbox, div.right_thumbbox, div.normal_thumbbox{
 margin: 2ex;
 margin-top: 2ex;
 margin-bottom: 0;
 
}

img.img_left, div.left_thumbbox {
 float: left;
 margin-right: 1ex;
}

img.img_right, div.right_thumbbox {
 float: right;
 clear: right;
 margin-left: 1ex;
}

img.img_center {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.strike img {
 margin-left: 20px;
}

th img{
 vertical-align: middle;
 margin: 1px;
}

.inline_download a{
 padding-left: 18px;
 background-image: url("../../img/download.png");
 background-repeat: no-repeat;
}

.inline_link a{
 padding-left: 18px;
 background-image: url("../../img/extern.png");
 background-repeat: no-repeat;
}

.inline_intern a{
 padding-left: 18px;
 background-image: url("../../img/view.png");
 background-repeat: no-repeat;
 
}

li.page_type_text, li.page_type_gallery {
 margin-left: 1.5em;
}

label.row {
 float: left;
 display: inline;
 padding-right: 1em;
 width: 17em;
 padding-bottom: 1em;
}

div.row {
 clear: both;
 padding-bottom: 1em;
}

div.warning {
 border: 1px solid #000000;
 text-align: center;
 font-weight: bold;
 background-color: #FAA500;
 margin-bottom: 1em;
 margin-top: 1em;
}

.center {
 width: 100%;
 text-align: center;
}

*.center * {
 margin-left: auto;
 margin-right: auto;
}

h3 a {
 border-bottom:1px dashed #000000;
}