html{
font-family:Arial,Helvita;
}
img#logo {
visibility: hidden;
height:0px;
width::0px;
}
span#logotext {
width:100%;
text-align:center;
font-size:18pt;
}
a {
	color: black;
	font-weight: bold;
	text-decoration: none;


}